<div class='jumbotron jumbotron-fluid"'>
	<h3 class='text-primary'>Fornecedores para revenda</h3>
	<p>Encontre aqui os catálogos de fornecedores de produtos para revenda</p>
	<div class="row mt-3">
		<div class="col-sm-12 d-flex">
			<%= link_to 'Voltar para meu catálogo', :users, class: 'btn btn-outline-primary flex-grow-1' %>
		</div>
	</div>
</div>
<div class="container my-3">
	<div class="row justify-content-center">
		<% if @stores.present? %>
			<%= render partial: 'store', collection: @stores %>
		<% else %>
			<div class='mt-5 col-sm-12'>
				<h5>Ainda não há nenhum fornecedor na sua região.</h5>
			</div>
		<% end %>
	</div>
</div>