<h1>olá <%= current_user.first_name %></h1>

<div>
	<% @stores.each do |store| %>
		<div>
			<%= link_to admin_store_path(store) do %>
				<%= store.name %>
			<% end %>
		</div>
	<% end %>
</div>

<%= link_to 'Nova loja', new_admin_store_path, class: 'btn btn-orange' %>