<h1><%= @catalogue.name %></h1>


<% if @catalogue_products.present? %>
	<% @catalogue.product_catalogues.each do |product_catalogue| %>
		<div>
			<%= product_catalogue.product.name %> - <%= product_catalogue.product.store.name %>
		</div>
	<% end %>
<% else %>
	<div>
		<h3>Você ainda não possui nenhum produto</h3>
	</div>
<% end %>

<div>
	<%= link_to 'Buscar fornecedores', stores_path %>
</div>