<h2>Editar loja</h2>

<%= simple_form_for([:admin, @store]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render partial: 'form_inputs', locals: { f: f } %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Atualizar" %>
  </div>
<% end %>