<div class="container-fluid">
	<div class="row bg-white" style='min-height: calc(100vh - 50px)'>
		<div class="col-sm-6 d-flex justify-content-center flex-column p-5 pb-sm-0 h-100">
			<div class="p-md-5">
				<h1 class='text-primary'>
					Comece a revender
					sem nenhum investimento
				</h1>
				<p class='text-secondary mt-3'>
					Encontre fornecedores, crie um catálogo de produtos, <br>
					escolha suas margens e comece a revender online.
				</p>
				<%= link_to "Comece a revender", new_user_registration_path, class:'btn btn-primary mt-5 p-3' %>
			</div>
		</div>
		<div class="col-sm-6 p-0 position-relative" style='min-height: 500px;)'>
			<%= image_tag "revendy-smartphone.png", alt: 'smartphone-hand', class:'position-absolute', style:'bottom: 0px; max-width:100%;' %>
		</div>
	</div>
	<div class="row bg-primary p-5">
		<div class="col-sm-6 text-white">
			<h2 class='text-secondary'>Como funciona?</h2>
			<div class='mt-5'>
				<div class='d-flex align-items-center mt-4'>
					<h3><i class="fas fa-search"></i></h3>
					<h5 class='ml-5'>Busque produtos com nossos fornecedores</h5>
				</div class='d-flex align-items-center'>
				<div class='d-flex align-items-center mt-4'>
					<h3><i class="fas fa-file-import"></i></i></h3>
					<h5 class='ml-5'>Adicione-os ao seu catálogo e escolha suas margens de lucro</h5>
				</div class='d-flex align-items-center'>
				<div class='d-flex align-items-center mt-4'>
					<h3><i class="far fa-comments"></i></i></h3>
					<h5 class='ml-5'>Compartilhe seu catálogo com seus amigos e em redes sociais</h5>
				</div class='d-flex align-items-center'>
				<div class='d-flex align-items-center mt-4'>
					<h3><i class="far fa-check-square"></i></h3>
					<h5 class='ml-5'>Receba os pedidos direto no seu whatsapp</h5>
				</div class='d-flex align-items-center'>
				<div class='d-flex align-items-center mt-4'>
					<h3><i class="fas fa-hand-holding-usd"></i></h3>
					<h5 class='ml-5'>Repasse o pedido para o fornecedor e receba suas margens</h5>
				</div class='d-flex align-items-center'>
			</div>
		</div>
	</div>
</div>