<%= f.input :name,
            required: true,
            autofocus: true,
            placeholder: 'Nome da sua loja. Ex: Roupas Curitiba' %>
<div class="row">
      <div class="col-3">
            <%= f.input :whatsapp_ddd,
                        required: true,
                        autofocus: true,
                        placeholder: '41',
                        label: 'ddd',
                        input_html: { maxlength: 2 },
                        as: :integer %>
      </div>
      <div class="col-9">
            <%= f.input :whatsapp_number,
                        required: true,
                        autofocus: true,
                        placeholder: '999999999',
                        as: :integer %>
      </div>
</div>