<h1><%= @product.name %></h1>

<%= link_to 'Editar produto', edit_store_product_path([@store, @product]) %>
<%= link_to 'Deletar produto', store_product_path([@store, @product]),
	method: :delete,
	data: { confirm: 'Tem certaza?' } %>
